<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net45" />
  <package id="DocX" version="1.0.0.19" targetFramework="net45" />
  <package id="GemBox.Document" version="25.3.30.1110" targetFramework="net45" />
  <package id="Manatee.Trello" version="1.4.2.1" targetFramework="net45" />
  <package id="Manatee.Trello.RestSharp" version="1.2.0.2" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Owin.Security.Providers.Trello" version="0.1.0.8" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" />
</packages>