<div class="jumbotron">
    <h1>Trello2Word</h1>
    <p class="lead">Export easily boards from Trello</p>
    <p><a href="@Url.Action("Index", "Boards")" class="btn btn-primary btn-lg">Go to your boards</a></p>
</div>

